<div class="row">
  <div class="col-md-10 col-center">
      <h1 class="text-center">Catalogo de Libros</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publicación</th>
            <th>Existentes</th>
            <th>Acciones</th>
            <th></th>
          </tr>
        </thead>
        <tbody style="font-weight: 300;">
          <tr *ngFor="let book of books">
            <td>{{ book.isbn }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.price }}</td>
            <td><a [routerLink]="['/book-edit', book._id]" class="btn btn-success">EDITAR</a></td>
            <td><button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">ELIMINAR</button></td>
          </tr>
        </tbody>
      </table>
    
      <a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
        <span aria-hidden="true" style="font-size: 2em; color:lightseagreen">+</span>
      </a>
  </div>
</div>